#topImages {
    display: flex;
    margin-left: 10px;
    justify-content: space-around;

}

#topImages img {
    width: 560px;
    height: 350px;
}

#bottomImages img {
    margin-left: 10px;
    width: 1150px;
}

h2 {
    font-family: Georgia, "Palatino Linotype", serif;
    color: #851e22;
    text-align: center;
}

h4 {
    font-family: Georgia, "Palatino Linotype", serif;
    color: #851e22;
    text-align: center;
    font-size: medium;
}